 :root {
  padding: 15%;
 }
 
 body {
  background-color: #F5cdb5;;
  box-sizing: border-box;
 }

 header {
  padding-left: 4rem;
  border: 4px solid #02a58d;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #beb4be;
  background-color: #055b67;
  font-family: "Jersey 25";
  font-size: larger;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
 }

 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 #headerTitle {
    line-height: 5em;
 }

#headerWeather {
  margin-right: 2em;
  text-align: right;
  line-height: .5em;
}

#headerWeather img {
  font-size: smaller;
}
 
 table {
  border: 5px solid #02a58d;
  border-radius: 10px;
  color: #beb4be;
  margin: 0 auto;
  margin-top: 4rem;
  background-color: #055b67;
 }

 table caption {
  color: darkslategray;
  margin-bottom: .2em;
 }
 
 th , td {
  border:1px solid #99ACC1;
  padding: .7em;
  text-align: center;
}

th {
  font-size: larger ;
}

#footer {
  background-color: #055b67;
  position: fixed;
  left: 0;
  bottom: 0; 
  width: 100%;
  text-align: center;
  height: 2em;
  border: 3px solid #02a58d;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 5px;
  line-height: 1.6em;
  color: #beb4be;
}

@media screen and (max-width: 635px) {
  header {
    min-width: 100%;
    padding: 0;
    max-height: 10em;
  }
  .container {
    display: block;
  }

  #headerWeather, #headerTitle {
    text-align: center;
    margin: 0 auto;
    line-height: 2em;
  }

  #headerWeather{
    line-height: .3rem;
  }

  table {
    margin-top: 12em;
  }
}